<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
</head>

<body>
    <h1>Contact Manager</h1>
    <h2>Welcome to the contact manager.  What would you like to do today?</h2>
        <a href="/contacts">[1] Display all the contacts</a>
        <br/>
        <a>[2] Add a new contact</a>
        <br/>
        <a>[3] Modify an existing contact</a>
        <br/>
        <a>[4] Delete a contact</a>
        <br/>
        <a>[5] Delete all contact</a>
        <br/>
        <a>[6] Search by attribute</a>
        <br/>
        <a>[7] Exit</a>
</body>
</html>